name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Remove Composer Lock
      run: rm composer.lock

    - name: Install dependencies
      run: composer install --no-interaction --prefer-dist --optimize-autoloader --no-progress

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: "24"

    - name: Install Node Dependencies
      run: |
        npm install
        npm run build

    - name: Wasmer
      env:
        WASMER_TOKEN: ${{ secrets.WASMER_TOKEN }}
      run: |
        curl https://get.wasmer.io -sSfL | sh
        source $HOME/.wasmer/wasmer.sh
        wasmer login "$WASMER_TOKEN"
        wasmer deploy